/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/*Content styles*/
#page{
  width:90%;
  margin:1.5% auto;  
}
.feat{
  padding:2% 0;
  font-size:20px;
  display:inline-block;
  width:50%;
}
.about{
  padding:2% 0;
  font-size:20px;
  display:inline-block;
  width:45%;
}
.serv{
  padding:2% 0;
  font-size:20px;
  display:inline-block;
  width:30%;
}
.prod{
  padding:2% 0;
  font-size:20px;
  display:inline-block;
  width:30%;
}
.visi{
  padding:2% 0;
  font-size:20px;
  display:inline-block;
  width:30%;
}

}
.bottom{
  display:inline-block;
  font-size:20px;
  padding:2% 0;
  width:30%;
  margin-right:2%;
}
#bottom h2{
  font-size:28px;
}
/* Nav styles */

.links {
  display:inline-block;
  font-size:15px;
  width: 80%;
  }
nav a{
  color:lightgrey;
  display:inline-block;
  width:15%;
  text-align:center;
  vertical-align:top;
  padding:2%;
}
/*Logo & Friends styles*/
.logo{
  width:60%;
}
button{
  font-size:15px;
  padding:1% 12%;
}
.iod{
  display:inline-block;
  font-size:80px;
  text-align:center;
  vertical-align:top;
  padding:10%;
}
/*Image styles*/
.image{
  text-align:center;
  width:20%;
  display:inline-block;
}
.middle{
  width:100%;
}

/*Footer style*/
.copyright{
  text-align: center;
}